<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Galeria de Foto </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Galeria de Foto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center">
    <h3>Guia de Uso</h3>
    <p>
      Este aplicativo permite que você utilize a câmera para tirar fotos e
      armazená-las em uma galeria local.
    </p>
    <p>Siga as instruções para aproveitar ao máximo o aplicativo.</p>
  </div>

  <ion-card>
    <ion-card-header>
      <img src="assets/foto.jpg" alt="" />
    </ion-card-header>
    <ion-card-content>
      <p>
        1. Para acessar a câmera, toque no ícone de fotos localizado na parte
        inferior da tela.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <img src="assets/camera.jpg" alt="" />
      </ion-card-header>
      <ion-card-content>
        <p>
          2. Dentro da área de fotos, clique no botão “Câmera” para abrir a câmera do dispositivo.
        </p>
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <img src="assets/tirarFoto.jpg" alt="" />
      </ion-card-header>
      <ion-card-content>
        <p>
          3. Tire a foto normalmente, aceitando ou repetindo conforme necessário.
        </p>
      </ion-card-content>
  </ion-card>

  <ion-card>
        <ion-card-header>
          <img src="assets/salvaFoto.jpg" alt="" />
        </ion-card-header>
        <ion-card-content>
          <p>
            4. Após capturada, a imagem é salva automaticamente no aplicativo.
          </p>
        </ion-card-content>
  </ion-card>

    <!-- <ion-card>
      <ion-card-header>
        <img src="assets/deletaFoto.jpg" alt="" />
      </ion-card-header>
      <ion-card-content>
        <p>
          5. Para deletar uma foto, selecione a imagem e clique nela para
          acessar as opções de exclusão.
        </p>
      </ion-card-content>
    </ion-card> -->

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
