:host {
  ion-content, ion-toolbar {
    --background: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :host {
    ion-content, ion-toolbar {
      --background: #000000;
    }
  }
}

.ion-text-center{
  text-align: center;
  padding: 0 20px;
  h1 {
    color: var(--ion-color-primary);
    font-weight: bold;
  }

  p {
    color: var(--ion-color-medium);
    font-size: 14px;
  }
}

.card{
  margin: 20px;
}

.label {
  color: var(--ion-color-medium);
}