<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Envio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Envio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center">
    <h3>Compartilhe suas fotos</h3>
    <p>Envie suas fotos para amigos e familiares de forma rápida e fácil.</p>
  </div>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/envio.png" alt="" />
    </ion-card-header>
    <ion-card-content>
      <span class="span">
        1. Enviando suas fotos
      </span>
      <p class="paragraph">
        Suas fotos são enviadas de forma rápida e segura.
      </p>

      <span class="span">
        2. Pronto para compartilhar
      </span>
      <p class="paragraph">
        Depois de selecionar a opção de compartilhamento, suas fotos serão compartilhadas em questão de segundos.
      </p>

      <span class="span">
        3. Compartilhe suas memórias
      </span>
      <p class="paragraph">
        Compartilhar suas fotos é uma ótima maneira de manter suas memórias vivas e conectadas.
      </p>
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
