.ion-text-center{
  text-align: center;
  padding: 0 20px;
  h3 {
    color: var(--ion-color-primary);
    font-weight: bold;
  }

  p {
    color: var(--ion-color-medium);
    font-size: 14px;
  }
}

.paragraph {
  margin: 20px;
  padding: auto;
  font-size: 16px;
  color: var(--ion-color-primary);
}
